
body {
    margin: 250px;
    padding: 20px;
    height: 500px;
    
}

.firsti,
.sporti {
    font-size: 18px;
    font-family: roboto ;
    background-color:  rgb(35, 37, 37);
    height: auto;
    margin: 20px;
    padding: 10px;
}
h1 {
    color: aliceblue;
    font-size: 18px;
    margin: 15px;
    padding: 20px;

}
 
h2 {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: antiquewhite;
    
}
h3 {
    text-align: center;
}

nav {

    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding: 10px;
    font-size: 22px;

    color: antiquewhite;
    flex: 1;
}

.thirdi {
    margin: 50px;
    padding: 3px;
    color: antiquewhite;
}
button {
    margin: 10px;
    padding: 5px;
    background-color: rgb(23, 23, 228);
}
.placi {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding: 10px;
    height: 200px;
    
}
.carti {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    background-color: #685f5fe7;

}
.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    gap: 20px;
    height: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;



}
.box {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    border: 2px solid blue;
}
.lasti {
    font-size: 18px;
    color: aliceblue;
    background-color: #09097e;
}
footer {
    text-align: center;
    background-color: #504e4eee;
}