* {
    outine: 2px solid red;
  }
  
  
    
  
  
  .gene {
    background-color: #1f2937;
  }
  
  header {
    display: flex;
    justify-content: space-between; /* pushes logo left, nav right */
    align-items: center;
    padding: 20px; /* optional spacing */
    background-color: #1f2937; /* optional dark background */
  }
  
  header h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
  }
  
  .navi {
    display: flex;
    gap: 20px; /* spacing between links */
  }
  
  .navi a {
    color: #e5e7ebf5;
    text-decoration: none;
    font-size: 16px;
  }
  
  .firsti {
    font-size: 42px;
    color: rgb(163, 42, 42);
    font-weight: 900;
  }
  
  .firstii {
    font-size: 18px;
    color: #a4a89f;
  }
  
  .placi {
    display: flex;
    justify-content: flex-end;
  }
  
  .carti {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    border: 2px solid green;
    background-color: rgb(117, 117, 115);
  }
  