* {
  utline: 2px solid red;
}

body {
  height: 1100px;
  width: 800px;
  padding: 10px 250px;
}
.page-wrapper {
  background-color: #1f2937;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1f2937;
}

header h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #e5e7ebf5;
  text-decoration: none;
  font-size: 16px;
}
.hero {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.hero-title {
  font-size: 42px;
  color: #F9FAF8;
  font-weight: 900;
}
.hero-title, 
.hero-subtext {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.hero-text {
display: flex;
flex-direction: column;
margin: 0px;
}


.hero-subtext {
  font-size: 18px;
  color: #E1E1EA;
}

.hero-image {
  padding: 20px;
  width: 60%;
}

.placeholder-box {
  display: flex;
  justify-content: flex-end;
  border: 2px solid green;
  background-color: rgb(117, 117, 115);
  height: 150px;
  width: auto;
}
.features {
  font-size: 24px;
  text-align: center;
}
.features-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  height: 300px;
  width: auto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* even spacing between image and text */
  align-items: center;             /* centers content horizontally */
  height: 300px;                   /* ensures all cards are same height */
}
.feature-image-box {
  height: 150px;
  width: 120px;
  border: 2px solid #4C89B5;
  border-radius: 10px;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 10px;
}
.card p {
  font-size: 16px;
  line-height: 1.5;       /* 1.5 × 16px = 24px per line */
  height: 84px;           /* 3.5 × 24px = 84px total */
  overflow: hidden;
  text-align: center;
  width: 140px;
}

.quote {
  margin: 20px;
  color:  #1F2937;
  font-style: italic;
  text-align: center;
  font-size: 36px;
  background: #E5E7EB;
  height: 250px;
  width: auto;
}
h4 {
  font-size: 24px;
}

.cta  {
  background: #4F94E6;
  color: #E6EAEF;
  margin: 100px;
}
.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
}
button {
  background-color: #497CC2;
  color: white;
}

.quote-author {
  display: flex;
  justify-content: end;
}
.quote-author,
.cta { 
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.cta h4,
.cta p,
.cta button {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.cta button {
  margin-top: 8px;
}
footer {
  text-align: center;
  background: #f8f9fa;
}
.main-footer {
  background: #eceef1;
  line-height: 40px;
}

.cta {
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer {
  margin-top: 0;
  padding-top: 0;
}
